.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Koulen', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
}

.start-btn {
    width: 193px;
    height: 52px;
    background-color: #4d5b9e;
    border-radius: 15px;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
